body {
    background-color: white;
}


.text-link{
    text-decoration-color: mediumpurple;
    color : mediumpurple;
}

body.modal-open .background-container {
    filter: blur(4px);
}

.quarter-circle-start{
    width: 200px;
    height: 200px;
    border-radius: 0 100% 0 0;
    background-color: mediumpurple;
    /* Forme de base de quart de cercle */
}

.quarter-circle-end{
    width: 200px;
    height: 200px;
    border-radius: 0 100% 0 0;
    background-color: mediumpurple;
    /* Forme de base de quart de cercle */
}

/* Spécifique pour chaque coin */
.position-fixed.top-0.start-0 {
    top: 0;
    left: 0;
    border-radius: 0 0 100% 0; /* Coin supérieur gauche */
}

.position-fixed.bottom-0.end-0 {
    bottom: 0;
    right: 0;
    border-radius: 100% 0 0 0; /* Coin inférieur droit */
}

/*purple table*/
.table-violet{
    background-color: mediumpurple;
}

/*table scroll*/
.table-responsive {
    max-height: 400px;
    overflow-y: auto;
}

.sticky-header th {
    position: sticky;
    top: 0;
    background-color: #6a0dad; /* Ajuste la couleur pour correspondre au style violet souhaité */
    color: #fff;
    z-index: 10;
}

.navbar-custom {
    width: 40%;  /* Ajustez la largeur selon vos besoins */
    margin: 0 auto;  /* Centre la navbar */
    border-radius: 10px;  /* Ajustez la valeur du rayon pour l'effet désiré */
    overflow: hidden;
}

.navbar-nav .nav-item {
    margin-right: 20px;  /* Ajustez la valeur pour augmenter l'écart */
}

.icon {
    /*
    display: flex;
    margin : 20px;
    justify-content: flex-end;*/
    position: absolute;
    margin-top: 20px;
    margin-right: 30px;
    top: 0px;
    right: 0px;
}

.btn-violet {
    background-color: #6a0dad;
    border-color: #6a0dad;
}
.btn-violet:hover {
    background-color: #590b92;
    border-color: #590b92;
}

/* for the dashboard */

.room-card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.room-card:hover {
    transform: scale(1.15);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.room-card .card-body {
    padding: 15px;
    background-color: #f9f9f9;
}

.card-title {
    font-size: 1.25rem;
    color: #5a4d9c;
}

.card-text {
    font-size: 1rem;
    color: #333;
}

.card-body a, .card-body button {
    margin-top: 10px;
}