body {
    background-color: white;
}


.text-link{
    text-decoration-color: mediumpurple;
    color : mediumpurple;
}

.quarter-circle {
    width: 200px;
    height: 200px;
    border-radius: 0 100% 0 0;
    background-color: mediumpurple;
    /* Forme de base de quart de cercle */
}

/* Spécifique pour chaque coin */
.position-absolute.top-0.start-0 {
    border-radius: 0 0 100% 0; /* Coin supérieur gauche */
}

.position-absolute.bottom-0.end-0 {
    border-radius: 100% 0 0 0; /* Coin inférieur droit */
}

/*purple table*/
.table-violet{
    background-color: mediumpurple;
}

/*table scroll*/
.table-responsive {
    max-height: 400px;
    overflow-y: auto;
}

.sticky-header th {
    position: sticky;
    top: 0;
    background-color: #6a0dad; /* Ajuste la couleur pour correspondre au style violet souhaité */
    color: #fff;
    z-index: 10;
}
/* Style pour rendre les checkboxes plus jolies et violet */
.form-check-input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #6f42c1; /* Violet */
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-check-input:checked {
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.form-check-input:checked::before {
    color: white;
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 14px;
}
