{% extends 'base.html.twig' %}

{% block title %}Outil de diagnostic{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

    <!-- Contenu principal centré -->
    <div class="d-flex justify-content-center align-items-center vh-60 flex-column">
        <h1>Diagnostic</h1>
    </div>

    <div class="container mt-4">
        <div class="card shadow-sm p-4">
            <h1 class="h3 mb-4 text-center background-container"> {{ as.Name }}</h1>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="accordion" id="accordionPanelsStayOpenExampleOne">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                    GRAPHIQUE CO2
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div>
                                        <canvas id="myChart"></canvas>
                                    </div>
                                    <script>
                                        const ctx = document.getElementById('myChart').getContext('2d');
                                        const chart = new Chart(ctx, {
                                            type: 'pie', // Type de graphique changé en 'pie'
                                            data: {
                                                labels: ['Red','Yellow', 'Green'], // Labels des segments
                                                datasets: [{
                                                    label: 'Dataset Example',
                                                    data: [12, 16, 50], // Valeurs des segments
                                                    backgroundColor: [ // Couleurs de chaque segment
                                                        'rgb(255,0,55)',
                                                        'rgb(232,223,0)',
                                                        'rgb(112,241,52)',

                                                    ],
                                                    hoverOffset: 4 // Décalage lors du survol
                                                }]
                                            },
                                            options: {
                                                responsive: true, // Le graphique s'adapte à la taille de l'écran
                                                plugins: {
                                                    legend: {
                                                        position: 'top', // Position de la légende (top, bottom, left, right)
                                                    },
                                                    tooltip: {
                                                        enabled: true, // Active les infobulles
                                                    },
                                                }
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="accordion" id="accordionPanelsStayOpenExampleTwo">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    GRAPHIQUE HUMIDITE
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="accordion" id="accordionPanelsStayOpenExampleThree">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                    GRAPHIQUE TEMPERATURE
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="accordion" id="accordionPanelsStayOpenExampleFour">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                    Rappel des 5 dernières alertes
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    refsdgdgsreqfgyhtdresxcgtdrgxcgtrgfdxrtgf
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="accordion" id="accordionPanelsStayOpenExampleFive">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                    Analyse
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    zsedrftghsqdfghjkdsfgh
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}