{% extends 'base.html.twig' %}

{% block title %}Hello RoomsController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card shadow-sm p-4">
            <h1 class="h3 mb-4 text-center">Liste des Salles</h1>

            <p class="text-muted">
                Ce message amical provient de :
            </p>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">Votre contrôleur à <code>/app/sfapp/src/Controller/RoomsController.php</code></li>
                <li class="list-group-item">Votre template à <code>/app/sfapp/templates/rooms/index.html.twig</code></li>
            </ul>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOM</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td>{{ room.id }}</td>
                            <td>{{ room.name }}</td>
                            <td> <a href="{{ path('app_room_delete', {id: room.id })}}">Supprimé</a> </td>
                        </tr>
                    {% endfor %}
                    <a href="{{ path('app_room_add') }}">
                        <button type="button" class="transition-button">Ajouter une Salle</button>
                    </a>
                </table>
            </div>
        </div>
    </div>
{% endblock %}