{% extends 'base.html.twig' %}

{% block title %}Hello RoomsController!{% endblock %}

{% block body %}
    <div class="position-absolute top-0 start-0 quarter-circle"></div>
    <div class="position-absolute bottom-0 end-0 quarter-circle"></div>

    <div class="d-flex justify-content-center align-items-center vh-0">
        <img src="{{ asset('images/logo.png') }}" alt="Logo du campus">
    </div>
    <div class="container-fluid d-flex justify-content-center p-3">
        <a href="{{ path('app_welcome') }}" class="mx-3 text-link">Accueil</a>
        <a href="{{ path('app_rooms') }}" class="mx-3 text-link">Plan</a>
    </div>
    <div class="container mt-4">
        <div class="card shadow-sm p-4">
            <h1 class="h3 mb-4 text-center">Formulaire: Installation de SA</h1>
            <div class="form-check">
                <input class="form-check-input custom-checkbox" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Avoir le matériel
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input custom-checkbox" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    Faire les branchements
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input custom-checkbox" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    Installer le script
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input custom-checkbox" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    Verifier le wifi
                </label>
            </div>

            <button type="button" class="btn btn-success">Vérifier</button>
        </div>
    </div>




{% endblock %}