parameters:
    level: 10
    treatPhpDocTypesAsCertain: false
    paths:
        - bin/
        - config/
        - src/Controller/SecurityController.php
        - src/DataFixtures/
        - src/Entity/User.php
        - src/Repository/UserRepository.php
        - src/Security
    ignoreErrors:
        - '#Property App\\Entity\\.*::\$id \(int\|null\) is never assigned int#'
    reportUnmatchedIgnoredErrors: false

