{% extends 'base.html.twig' %}

{% block title %}Hello AcquisitionSytemeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>AS Liste</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>etat</th>
        </tr>
        </thead>
        <tbody>
        {%for AS in acquisition_systems%}
            <tr>
                <td>{{ AS.id }}</td>
                <td>{{ AS.etat.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
